@charset "utf-8";

@import url("library/css/reset.css");
@import url("library/css/usces_cart.css");
@import url("library/css/form.css");
@import url("library/css/header.css");
@import url("library/css/footer.css");
@import url("library/css/sidebar.css");
@import url("library/css/item_list.css");
@import url("library/css/product.css");
@import url("library/css/page.css");
@import url("library/css/arcive-search.css");
@import url("library/css/supplier.css");
@import url("library/css/key_v.css");
@import url("library/css/categorise.css");

/* ==============================================================================

	Common Setting

 ============================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', Meiryo, sans-serif;
    font-size: small;
    color: #333;
    line-height: 1.6;
    background: #eee;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #145;
    text-decoration: none;
}

a:hover {
    color: #0af;
    text-decoration: none;
}

a:hover img {
    opacity: 0.5;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

img,
video,
object {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: none;
}

/* ==============================================================================

	Module

============================================================================== */


/* センタリング
---------------------------------------------------------- */

.center {
    text-align: center;
}

/* 汎用ボタン
---------------------------------------------------------- */

.linkBtn {
    text-align: center;
    position: relative;
    padding: 20px 0;
}


.linkBtn a {
    display: inline-block;
    width: 300px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #2a3;
    padding: 1em;
    position: relative;
    top: 0;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 0 #060;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.linkBtn a::after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.linkBtn a:hover {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    top: 5px;
    box-shadow: 0 0 0 #060;
}

.linkBtn a:hover::after {
    right: 7px;
}

@media screen and (max-width: 480px) {

    .linkBtn a {
        display: inline-block;
        width: 80%;
    }

}

/* PC非表示
---------------------------------------------------------- */

@media screen and (min-width: 801px) {

    .pcNone {
        display: none;
    }

}

/* PDA非表示
---------------------------------------------------------- */

@media screen and (max-width: 800px) {

    .pdaNone {
        display: none;
    }

}

/* スマホ非表示
---------------------------------------------------------- */

@media screen and (max-width: 480px) {

    .spNone {
        display: none;
    }

}

/* スマホ強制改行
---------------------------------------------------------- */

@media screen and (max-width: 480px) {

    .br {
        font-size: 0!important;
    }

    .br::after {
        display: block;
        content: "";
    }

}

/* ==============================================================================

	Wrapper

============================================================================== */

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.wrap:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 800px) {

    .wrap {
        width: 100%;
    }

}

/* ==============================================================================

	Main Content

============================================================================== */

#mainContent {
    width: 100%;
    padding: 50px 0 0;
}

@media screen and (max-width: 800px) {

    #mainContent {
        padding: 0;
    }

}

/* ==============================================================================

	Content

============================================================================== */

#content {
    overflow: hidden;
    width: 1000px;
    float: right;
    margin: 10px 0 0;
    position:relative;
}

@media screen and (max-width: 800px) {

    #content {
        width: 100%;
        float: none;
    }

}

section {
    overflow: hidden;
    font-size: medium;
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

section a {
    color: #0af;
    text-decoration: none;
}

section a:hover {
    color: #124;
    text-decoration: underline;
}

/* =======================================

	404

======================================= */

#error404 {
    text-align: center;
    padding: 20px 0;
}

#error404 img {
    display: block;
    width: 25%;
    margin: 0 auto 40px;
}

@media screen and (max-width: 480px) {

    #error404 img {
        width: 50%;
    }

}

/* =======================================

	home

======================================= */

#topForm {
    overflow: hidden;
    font-size: medium;
    background: #fff;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25)
}

/*#topForm dt {*/
    /*width: 50%;*/
    /*color: #fff;*/
    /*font-size: xx-large;*/
    /*font-weight: 800;*/
    /*text-align: center;*/
    /*background: url("library/images/top-form-bg.png") no-repeat right bottom #fd8;*/
    /*padding: 20px;*/
    /*float: left;*/
    /*text-shadow: 2px 2px 0 rgba(0,0,0,.25);*/
/*}*/

#topForm dt img {
    width: 25%;
    margin: 0 0 10px;
}

#topForm dt p {
    color: #333;
    font-size: medium;
    font-weight: normal;
    text-shadow: none;
}

#topForm dd {
    width: 50%;
    background: #fff;
    padding: 20px;
    float: right;
}

#topForm dd form {
    padding: 10px;
}

#topForm form input,
#topForm form select {
    width: 100%;
    outline: none;
    margin: 10px 0;
    padding: 10px;
}

#topForm form input.submitBtn {
    width: 55%;
    margin: 10px auto;
    padding: 15px 0;
}

@media screen and (max-width: 480px) {


    #topForm dt {
        width: 100%;
        padding: 10px;
        float: none;
    }

    #topForm dd {
        width: 100%;
        padding: 10px;
        float: none;
    }

    #topForm form input.submitBtn {
        width: 75%;
    }

}

section#ivent {
    padding: 5px;
}

#ivent dl {
    overflow: hidden;
}

#ivent dl dt {
    width: 50%;
    padding: 5px;
    float: left;
}

#ivent dl dd {
    width: 25%;
    padding: 5px;
    float: right;
}

#ivent dl img {
    border-radius: 5px;
}

@media screen and (max-width: 480px) {

    #ivent dl dt {
        width: 100%;
        float: none;
    }

    #ivent dl dd {
        width: 50%;
    }

}

/*#facebook {*/
    /*background: url("library/images/facebook-bg.png") no-repeat right bottom #3b5997;*/
/*}*/

@media screen and (max-width: 480px) {

    #facebook {
        background: #fff;
    }


}
