.pickmeup {
    background: #FFFFFF;
    border-radius: .4em;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    touch-action: manipulation;
    border: 1px solid #cccccc;
    padding: 10px;
}

.pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pickmeup.pmu-flat {
    position: relative;
    max-width: 652px;
    box-sizing: border-box;
    text-align: left;
}

.pickmeup.pmu-hidden {
    display: none
}

.pickmeup .pmu-instance {
    display: inline-block;
    height: 13.8em;
    padding: .5em;
    text-align: center;
    width: 15em;
}

.pickmeup .pmu-instance .pmu-button {
    /*color: #eee;*/
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #000000;
}
.pmu-button{
    border: 1px solid #cccccc;
}
.pmu-prev{
    border-bottom: 1px solid #cccccc;
}
.pmu-next{
    border-bottom: 1px solid #cccccc;
}
.pmu-month{
    color: blue;
}

.pickmeup .pmu-instance .pmu-today {
    /*background: #17384d;*/
    background-color: #ff0000!important;
    /*color: #88c5eb;*/
    color: #ffffff!important;
}

.pickmeup .pmu-instance .pmu-button:hover {
    /*background: transparent;*/
    color: #88c5eb;
    /*color: #ff0000;*/
}

.pickmeup .pmu-instance .pmu-not-in-month {
    color: #666
}

.pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover {
    color: #333;
    cursor: default
}

.pickmeup .pmu-instance .pmu-selected {
    background: #136a9f;
    color: #eee
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background: #17384d
}

.pickmeup .pmu-instance nav {
    color: #eee;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 2em
}

.pickmeup .pmu-instance nav *:first-child :hover {
    color: #88c5eb
}

.pickmeup .pmu-instance nav .pmu-prev, .pickmeup .pmu-instance nav .pmu-next {
    display: none;
    height: 2.2em;
    width: 1em;
    background-color: #cccccc;
}

.pickmeup .pmu-instance nav .pmu-month {
    width: 14em;
    background-color: #cccccc;
    color: #3097D1;
}

.pickmeup .pmu-instance .pmu-years *, .pickmeup .pmu-instance .pmu-months * {
    display: inline-block;
    line-height: 3.6em;
    width: 3.5em
}
.pmu-day-of-week{
    border-bottom: 2px solid #cccccc ;
    color: #000000;
    font-weight: bold!important;
}

.pickmeup .pmu-instance .pmu-day-of-week {
    color: #000000;
    cursor: default;
    font-weight: bold!important;
}

.pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days * {
    display: inline-block;
    line-height: 1.5em;
    width: 2em
}

.pickmeup .pmu-instance .pmu-day-of-week * {
    line-height: 1.8em
}

.pickmeup .pmu-instance:first-child .pmu-prev, .pickmeup .pmu-instance:last-child .pmu-next {
    display: block
}

.pickmeup .pmu-instance:first-child .pmu-month, .pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em
}

.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none
}
