@charset "utf-8";

/* ==============================================================================

	header

============================================================================== */

header {
    width: 100%;
    height: 50px;
    text-align: center;
    background: #145;
    position: fixed;
    z-index: 9999;
	top: 0;
}

/* Logo
---------------------------------------------------------- */

header h1 {
    width: 20%; /* 240px */
    margin: 14px auto;
    float: left;
}

@media screen and (max-width: 800px) {

    header {
        height: auto;
        border-top: 1px solid #145;
        position: relative;
    }

    header h1 {
        width: 100%;
        margin: 20px auto;
        float: none;
    }

    header h1 img {
        width: 50%;
    }

}

@media screen and (max-width: 480px) {
    
    header h1 img {
        width: 75%;
    }

}

/* 検索ボックス
---------------------------------------------------------- */

.search {
    width: 40%; /* 480px */
    margin: 10px auto;
    padding: 0 1%;
    float: left;
    position: relative;
}

.search input {
    outline: 0;
}

.search input[type="text"].searchBox {
    width: 100%;
    height: 30px;
    font-family: 'Hind', sans-serif;
    font-size: small;
    border: none;
    background: #fff;
    padding: 0 1em;
    outline: 0;
    border-radius: 15px;
}

.search input[type="text"].searchBox:focus {
    background: #def;
}

.search .searchBtn {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 1em;
}

@media screen and (max-width: 800px) {

    .search {
        width: 80%;
        margin: 20px auto;
        float: none;
    }

}

/* Need Help
---------------------------------------------------------- */

#needHelp li {
    width: 12%; /* 144px */
    text-align: center;
    float: left;
    position: relative;
}

#needHelp li a {
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    border-left: 1px solid #367;
    border-right: 1px solid #367;
    background: #145;
}

#needHelp li a:hover {
	background: #256;
}

#needHelp > li > a::after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    bottom: 8px;
    right: 50%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#needHelp li ul {
    display: none;
}

#needHelp li:hover ul {
    display: block;
}

#needHelp li ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
}

#needHelp li ul li {
    width: 100%;
}

#needHelp li ul li a {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #367;
}

#needHelp li a i {
    width: 1em;
    text-align: center;
    margin: 0 0.5em 0 0;
}

@media screen and (max-width: 800px) {

    #needHelp {
        display: none;
    }

}

/* Operation
---------------------------------------------------------- */

#operation {
    overflow: hidden;
    width: 28%; /* 336px */
    float: left;
}

#operation li {
    width: 23%;
    text-align: center;
    border-right: 1px solid #367;
    float: left;
}

#operation li:first-child {
    width: 54%;
}

#operation li a {
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background: #145;
}

#operation li a:hover {
    background: #256;
}

#operation li a i {
    width: 1em;
    text-align: center;
    margin: 0 0.5em 0 0;
}


@media screen and (max-width: 800px) {

    #operation {
        width: 100%;
        border-top: 1px solid #367;
        margin: 20px auto 0;
        float: none;
    }

    #operation li:last-child {
        border: none;
    }

}

/* Category Menu (PDA)
---------------------------------------------------------- */

@media screen and (max-width: 800px) {

    #categoryMenu {
        width: 100%;
        color: #fff;
        border-top: 1px solid #367;
        text-align: left;
    }

    .categoryBtn {
        width: 100%;
        font-size: medium;
        font-weight: 600;
        text-align: left;
        line-height: 30px;
        padding: 10px;
        float: right;
        cursor: pointer;
    }

    .categoryBtn i {
        font-size: 30px;
        float: right;
    }

    .categoryNav {
        width: 100%;
        clear: both;
    }

    .categoryNav a {
        display: block;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #367;
        padding: 15px;
        position: relative;
    }

    .categoryNav ul li:first-child a {
        border-top: 1px solid #367;
    }

    .categoryNav a i {
        width: 1em;
        text-align: center;
        margin: 0 0.5em 0 0;
    }

    .categoryNav a::after {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        margin-top: -5px;
        position: absolute;
        top: 50%;
        right: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}