#key_v {
	background: url(../images/key_v_bg.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	padding: 0 0 10%;
	position: relative;
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #fff;
}

#key_v:after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: rgba(0,0,0,0.4);
}

#key_v .wrap {
	padding: 6% 0 0;
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	height: 100%;
}

#key_v .wrap .or {
	position: absolute;
	text-align: center;
	top: 75%;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	font-size: 25px;
}

#key_v .wrap .or:after,
#key_v .wrap .or:before {
	position: absolute;
	content: "";
	height: 130px;
	width: 1px;
	right: 0;
	left: 0;
	background: #fff;
	margin: auto;
}

#key_v .wrap .or:after {	
	top: 50px;
}

#key_v .wrap .or:before {
	top: -140px;
}

#key_v .wrap h1 {
	text-align: center;
	font-size: 35px;
	line-height: 1.3;
}

#key_v .wrap ul {
	overflow: hidden;
	margin: 6% 0 0;
	position: relative;
	z-index: 50;
}

#key_v .wrap li.center {
	display: none;
}

#key_v .wrap li.left {
	float: left;
}

#key_v .wrap li.right {
	float: right;
}

#key_v .wrap li {
	width: 50%;
	text-align: center;
}

#key_v .wrap li h2 {
	text-align: center;
	font-size: 27px;
	line-height: 1.3;
	height: 3em;
}

#key_v .wrap li p {
	font-size: 16px;
	margin: 3% 0 0;
}

#key_v .wrap li a {
	display: block;
	color: #fff;
	width: 200px;
	box-sizing: border-box;
	padding: 2% 0;
	text-align: center;
	background: #00b83a;
	border-radius: 3px;
	margin: 7% auto 0;
	font-size: 16px;
	text-shadow: 1px 1px #00862A;
	border-bottom: 1px solid #00862A;
}

#key_v .wrap li a:hover {
	text-shadow: none;
	border-bottom: none;
}

@media screen and (max-width: 800px) {
#key_v {
	padding: 0 0 15%;
}

#key_v .wrap {
	padding: 6% 2%;
}

#key_v .wrap h1 {
	font-size: x-large;
	padding: 5% 0 0;
}

#key_v .wrap .or {
	display: none;
}

#key_v .wrap ul {
	margin: 13% 0 0;
}

#key_v .wrap li {
	width: 100%;
}

#key_v .wrap li.left,
#key_v .wrap li.right {
	float: none;
}

#key_v .wrap li h2 {
	font-size: 22px;
}

#key_v .wrap li.center {
	display: block;
	padding: 5% 0;
	text-align: center;
	position: relative;
}

#key_v .wrap li.center:after,
#key_v .wrap li.center:before {
	position: absolute;
	content: "";
	top: 2px;
	bottom: 0;
	width: 40%;
	height: 2px;
	background: #fff;
	margin: auto;
}

#key_v .wrap li.center:after {
	left: 0;
}

#key_v .wrap li.center:before {
	right: 0;
}

#key_v .wrap li.center p{
	font-size: 25px;
}

}

@media screen and (max-width: 480px) {
    
    header h1 img {
        width: 75%;
    }

}